<!-- <header class="row header">
  <a class="logo"><img src="../../../assets/monitoring.jpg" width="80px" height="50px" /></a>
    <h3 class="header-text">Energy Monitoring System</h3>
    <div style="float: right;">
      <a>Aa</a>
      <a>Aa</a>
      <a>Aa</a>
    </div>
  </header> -->

  <div id = "header">
    
      <h1>Energy Monitoring System</h1>
          <ul>
              <li><a href="#">Settings</a> 
              <li><a href="#">Help</a> 
              <li><a href="#">Logout</a>
          </ul> 
    </div> 